body {
    margin:0;
}
.body-model[style] {
    padding-right:0 !important;
}
.body-model.modal-open {
    overflow: auto;
}

#login-modal .social-area button, #register-modal .social-area button, #fogot-password-dialog .social-area button {
    padding: 15px 50px !important;
    margin: 10px 0px  !important;
    text-align: center  !important;
    display: block  !important;
    color: #ffffff  !important;
    border-radius: 25px  !important;
    -webkit-border-radius: 25px !important;
    -moz-border-radius: 25px  !important;
    -o-border-radius: 25px  !important;
}