
@{
    ViewBag.Title = "Learning";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-wrapper" style="overflow: hidden;">
    <div class="banner">
    </div>
    <div class="row learning no-margin">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding no-margin learning-header">
            <div class="container no-padding">
                <div class="row learning-header-container">
                    <span class="course-name">Nói thoả thích 8 tiếng mỗi ngày mà không lo mất giọng</span>
                    <div class="rating-container">
                        <ul class="rating rating-active" course_id="56010a07fc32e004ca000000" data-description="" data-rate="4" data-title="">
                            <li>
                                <i class="fa fa-star star rated" val="1"></i>
                            </li>
                            <li>
                                <i class="fa fa-star star rated" val="2"></i>
                            </li>
                            <li>
                                <i class="fa fa-star star rated" val="3"></i>
                            </li>
                            <li>
                                <i class="fa fa-star star rated" val="4"></i>
                            </li>
                            <li>
                                <i class="fa fa-star star" val="5"></i>
                            </li>
                            <li>
                                <a class="rate-it">Đánh giá ngay</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding no-margin">
            <div class="row learning-container">
                <div class="col-lg-6 col-md-6 col-sm-10 col-sm-offset-1 col-xs-12 list-lecture">
                    <div class="row no-margin lecture-header">
                        <a href="https://edumall.vn/courses/noi-thoa-thich-8-tieng-moi-ngay-ma-khong-lo-mat-giong/lecture/0">
                            <ul>
                                <li class="play-circle-lecture">
                                    <i class="fa fa-play-circle"></i>
                                </li>
                                <li class="first-lecture">
                                    <div class="lecture-header-content">
                                        <p class="no-margin lecture-header-index">Bài giảng 1:</p>
                                        <p class="no-margin lecture-header-name">Giới thiệu khoá học</p>
                                        <p class="no-margin lecture-header-time">07:50</p>
                                    </div>
                                </li>
                            </ul>
                        </a>
                    </div>
                    <div class="row no-margin lecture-progress">
                        <div class="row trophy">
                            <div class="progress-title">
                                <ul class="progress-title-content no-margin">
                                    <li class="progress-title-item">Bạn đã hoàn thành</li>
                                    <li class="progress-title-item bold">2</li>
                                    <li class="progress-title-item">trên</li>
                                    <li class="progress-title-item bold">17</li>
                                    <li class="progress-title-item">bài giảng</li>
                                </ul>
                                <i class="fa fa-trophy"></i>
                            </div>
                        </div>
                        <div class="row no-margin progress-container">
                            <div class="progress">
                                <div class="progress-bar" style="width: 11.76470588235294%"></div>
                            </div>
                            <div class="progress-finish">
                                <div class="finish"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row no-margin list-lecture-container">
                        <div class="row chap-title">Phần 1: TẦM QUAN TRỌNG CỦA VIỆC LUYỆN HƠI</div>
                        <div class="row chap-item">
                            <a href="https://edumall.vn/courses/noi-thoa-thich-8-tieng-moi-ngay-ma-khong-lo-mat-giong/lecture/0">
                                <div class="row item-container">
                                    <div class="chap-item-status">
                                        <div class="status-container learning">
                                            <i class="material-icons">watch_later</i>
                                        </div>
                                    </div>
                                    <div class="chap-item-content">
                                        <div class="row no-margin">
                                            Bài giảng 1: Giới thiệu khoá học
                                        </div>
                                        <div class="row no-margin">
                                            <div class="row type-document">
                                                <ul class="no-padding">
                                                    <li>
                                                        <i class="fa fa-play-circle"></i>
                                                    </li>
                                                    <li>
                                                        <span>07:50</span>
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-comments"></i>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="row chap-item">
                            <a href="https://edumall.vn/courses/noi-thoa-thich-8-tieng-moi-ngay-ma-khong-lo-mat-giong/lecture/1">
                                <div class="row item-container">
                                    <div class="chap-item-status">
                                        <div class="status-container learning">
                                            <i class="material-icons">watch_later</i>
                                        </div>
                                    </div>
                                    <div class="chap-item-content">
                                        <div class="row no-margin">
                                            Bài giảng 2: Vì sao phải có làn hơi khỏe mạnh
                                        </div>
                                        <div class="row no-margin">
                                            <div class="row type-document">
                                                <ul class="no-padding">
                                                    <li>
                                                        <i class="fa fa-play-circle"></i>
                                                    </li>
                                                    <li>
                                                        <span>02:26</span>
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-comments"></i>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="row chap-item">
                            <a href="https://edumall.vn/courses/noi-thoa-thich-8-tieng-moi-ngay-ma-khong-lo-mat-giong/lecture/2">
                                <div class="row item-container">
                                    <div class="chap-item-status">
                                        <div class="status-container learning">
                                            <i class="material-icons">watch_later</i>
                                        </div>
                                    </div>
                                    <div class="chap-item-content">
                                        <div class="row no-margin">
                                            Bài giảng 3: Việc luyện hơi có khó khăn hay không?
                                        </div>
                                        <div class="row no-margin">
                                            <div class="row type-document">
                                                <ul class="no-padding">
                                                    <li>
                                                        <i class="fa fa-play-circle"></i>
                                                    </li>
                                                    <li>
                                                        <span>07:52</span>
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-comments"></i>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="row chap-title">Phần 2: PHƯƠNG PHÁP LUYỆN HƠI CHUYÊN NGHIỆP &amp; HƯỚNG DẪN THỰC HÀNH</div>
                        <div class="row chap-item">
                            <a href="https://edumall.vn/courses/noi-thoa-thich-8-tieng-moi-ngay-ma-khong-lo-mat-giong/lecture/3">
                                <div class="row item-container">
                                    <div class="chap-item-status">
                                        <div class="status-container learning">
                                            <i class="material-icons">watch_later</i>
                                        </div>
                                    </div>
                                    <div class="chap-item-content">
                                        <div class="row no-margin">
                                            Bài giảng 4: Lý thuyết &amp; hướng dẫn thực hành bài xì hơi thành tiếng
                                        </div>
                                        <div class="row no-margin">
                                            <div class="row type-document">
                                                <ul class="no-padding">
                                                    <li>
                                                        <i class="fa fa-play-circle"></i>
                                                    </li>
                                                    <li>
                                                        <span>18:13</span>
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-comments"></i>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="row chap-item">
                            <a href="https://edumall.vn/courses/noi-thoa-thich-8-tieng-moi-ngay-ma-khong-lo-mat-giong/lecture/4">
                                <div class="row item-container">
                                    <div class="chap-item-status">
                                        <div class="status-container none"></div>
                                    </div>
                                    <div class="chap-item-content">
                                        <div class="row no-margin">
                                            Bài giảng 5: Lý thuyết &amp; hướng dẫn thực hành bài đếm sao
                                        </div>
                                        <div class="row no-margin">
                                            <div class="row type-document">
                                                <ul class="no-padding">
                                                    <li>
                                                        <i class="fa fa-play-circle"></i>
                                                    </li>
                                                    <li>
                                                        <span>09:23</span>
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-comments"></i>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="row chap-item">
                            <a href="https://edumall.vn/courses/noi-thoa-thich-8-tieng-moi-ngay-ma-khong-lo-mat-giong/lecture/5">
                                <div class="row item-container">
                                    <div class="chap-item-status">
                                        <div class="status-container learning">
                                            <i class="material-icons">watch_later</i>
                                        </div>
                                    </div>
                                    <div class="chap-item-content">
                                        <div class="row no-margin">
                                            Bài giảng 6: Thực hành nằm đếm sao
                                        </div>
                                        <div class="row no-margin">
                                            <div class="row type-document">
                                                <ul class="no-padding">
                                                    <li>
                                                        <i class="fa fa-play-circle"></i>
                                                    </li>
                                                    <li>
                                                        <span>10:05</span>
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-comments"></i>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="row chap-item">
                            <a href="https://edumall.vn/courses/noi-thoa-thich-8-tieng-moi-ngay-ma-khong-lo-mat-giong/lecture/6">
                                <div class="row item-container">
                                    <div class="chap-item-status">
                                        <div class="status-container learning">
                                            <i class="material-icons">watch_later</i>
                                        </div>
                                    </div>
                                    <div class="chap-item-content">
                                        <div class="row no-margin">
                                            Bài giảng 7: Thực hành ngồi thảm đếm sao
                                        </div>
                                        <div class="row no-margin">
                                            <div class="row type-document">
                                                <ul class="no-padding">
                                                    <li>
                                                        <i class="fa fa-play-circle"></i>
                                                    </li>
                                                    <li>
                                                        <span>05:06</span>
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-comments"></i>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="row chap-item">
                            <a href="https://edumall.vn/courses/noi-thoa-thich-8-tieng-moi-ngay-ma-khong-lo-mat-giong/lecture/7">
                                <div class="row item-container">
                                    <div class="chap-item-status">
                                        <div class="status-container completed">
                                            <i class="material-icons">check_circle</i>
                                        </div>
                                    </div>
                                    <div class="chap-item-content">
                                        <div class="row no-margin">
                                            Bài giảng 8: Thực hành ngồi ghế đếm sao
                                        </div>
                                        <div class="row no-margin">
                                            <div class="row type-document">
                                                <ul class="no-padding">
                                                    <li>
                                                        <i class="fa fa-play-circle"></i>
                                                    </li>
                                                    <li>
                                                        <span>07:12</span>
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-comments"></i>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="row chap-item">
                            <a href="https://edumall.vn/courses/noi-thoa-thich-8-tieng-moi-ngay-ma-khong-lo-mat-giong/lecture/8">
                                <div class="row item-container">
                                    <div class="chap-item-status">
                                        <div class="status-container completed">
                                            <i class="material-icons">check_circle</i>
                                        </div>
                                    </div>
                                    <div class="chap-item-content">
                                        <div class="row no-margin">
                                            Bài giảng 9: Thực hành đứng đếm sao
                                        </div>
                                        <div class="row no-margin">
                                            <div class="row type-document">
                                                <ul class="no-padding">
                                                    <li>
                                                        <i class="fa fa-play-circle"></i>
                                                    </li>
                                                    <li>
                                                        <span>05:22</span>
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-comments"></i>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="row chap-item">
                            <a href="https://edumall.vn/courses/noi-thoa-thich-8-tieng-moi-ngay-ma-khong-lo-mat-giong/lecture/9">
                                <div class="row item-container">
                                    <div class="chap-item-status">
                                        <div class="status-container learning">
                                            <i class="material-icons">watch_later</i>
                                        </div>
                                    </div>
                                    <div class="chap-item-content">
                                        <div class="row no-margin">
                                            Bài giảng 10: Lý thuyết &amp; hướng dẫn thực hành bài con cò
                                        </div>
                                        <div class="row no-margin">
                                            <div class="row type-document">
                                                <ul class="no-padding">
                                                    <li>
                                                        <i class="fa fa-play-circle"></i>
                                                    </li>
                                                    <li>
                                                        <span>21:08</span>
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-comments"></i>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="row chap-item">
                            <a href="https://edumall.vn/courses/noi-thoa-thich-8-tieng-moi-ngay-ma-khong-lo-mat-giong/lecture/10">
                                <div class="row item-container">
                                    <div class="chap-item-status">
                                        <div class="status-container none"></div>
                                    </div>
                                    <div class="chap-item-content">
                                        <div class="row no-margin">
                                            Bài giảng 11: Thực hành nằm con cò
                                        </div>
                                        <div class="row no-margin">
                                            <div class="row type-document">
                                                <ul class="no-padding">
                                                    <li>
                                                        <i class="fa fa-play-circle"></i>
                                                    </li>
                                                    <li>
                                                        <span>05:38</span>
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-comments"></i>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="row chap-item">
                            <a href="https://edumall.vn/courses/noi-thoa-thich-8-tieng-moi-ngay-ma-khong-lo-mat-giong/lecture/11">
                                <div class="row item-container">
                                    <div class="chap-item-status">
                                        <div class="status-container none"></div>
                                    </div>
                                    <div class="chap-item-content">
                                        <div class="row no-margin">
                                            Bài giảng 12: Thực hành ngồi thảm con cò
                                        </div>
                                        <div class="row no-margin">
                                            <div class="row type-document">
                                                <ul class="no-padding">
                                                    <li>
                                                        <i class="fa fa-play-circle"></i>
                                                    </li>
                                                    <li>
                                                        <span>02:24</span>
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-comments"></i>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="row chap-item">
                            <a href="https://edumall.vn/courses/noi-thoa-thich-8-tieng-moi-ngay-ma-khong-lo-mat-giong/lecture/12">
                                <div class="row item-container">
                                    <div class="chap-item-status">
                                        <div class="status-container none"></div>
                                    </div>
                                    <div class="chap-item-content">
                                        <div class="row no-margin">
                                            Bài giảng 13: Thực hành ngồi ghế con cò
                                        </div>
                                        <div class="row no-margin">
                                            <div class="row type-document">
                                                <ul class="no-padding">
                                                    <li>
                                                        <i class="fa fa-play-circle"></i>
                                                    </li>
                                                    <li>
                                                        <span>02:25</span>
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-comments"></i>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="row chap-item">
                            <a href="https://edumall.vn/courses/noi-thoa-thich-8-tieng-moi-ngay-ma-khong-lo-mat-giong/lecture/13">
                                <div class="row item-container">
                                    <div class="chap-item-status">
                                        <div class="status-container none"></div>
                                    </div>
                                    <div class="chap-item-content">
                                        <div class="row no-margin">
                                            Bài giảng 14: Thực hành đứng con cò
                                        </div>
                                        <div class="row no-margin">
                                            <div class="row type-document">
                                                <ul class="no-padding">
                                                    <li>
                                                        <i class="fa fa-play-circle"></i>
                                                    </li>
                                                    <li>
                                                        <span>07:02</span>
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-comments"></i>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="row chap-title">Phần 3: NHỮNG LƯU Ý &amp; THỰC HÀNH SAU KHÓA HỌC</div>
                        <div class="row chap-item">
                            <a href="https://edumall.vn/courses/noi-thoa-thich-8-tieng-moi-ngay-ma-khong-lo-mat-giong/lecture/14">
                                <div class="row item-container">
                                    <div class="chap-item-status">
                                        <div class="status-container none"></div>
                                    </div>
                                    <div class="chap-item-content">
                                        <div class="row no-margin">
                                            Bài giảng 15: Những lưu ý về giữ sức khỏe cho cổ họng
                                        </div>
                                        <div class="row no-margin">
                                            <div class="row type-document">
                                                <ul class="no-padding">
                                                    <li>
                                                        <i class="fa fa-play-circle"></i>
                                                    </li>
                                                    <li>
                                                        <span>11:30</span>
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-comments"></i>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="row chap-item">
                            <a href="https://edumall.vn/courses/noi-thoa-thich-8-tieng-moi-ngay-ma-khong-lo-mat-giong/lecture/15">
                                <div class="row item-container">
                                    <div class="chap-item-status">
                                        <div class="status-container none"></div>
                                    </div>
                                    <div class="chap-item-content">
                                        <div class="row no-margin">
                                            Bài giảng 16: Phương pháp thực hành sau khóa học
                                        </div>
                                        <div class="row no-margin">
                                            <div class="row type-document">
                                                <ul class="no-padding">
                                                    <li>
                                                        <i class="fa fa-play-circle"></i>
                                                    </li>
                                                    <li>
                                                        <span>06:11</span>
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-comments"></i>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="row chap-item">
                            <a href="https://edumall.vn/courses/noi-thoa-thich-8-tieng-moi-ngay-ma-khong-lo-mat-giong/lecture/16">
                                <div class="row item-container">
                                    <div class="chap-item-status">
                                        <div class="status-container none"></div>
                                    </div>
                                    <div class="chap-item-content">
                                        <div class="row no-margin">
                                            Bài giảng 17: Tổng kết nội dung khoá học
                                        </div>
                                        <div class="row no-margin">
                                            <div class="row type-document">
                                                <ul class="no-padding">
                                                    <li>
                                                        <i class="fa fa-play-circle"></i>
                                                    </li>
                                                    <li>
                                                        <span>00:13</span>
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-comments"></i>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="hidden-xs hidden-sm col-sm-6 no-padding">
                    <div class="col-xs-12 col-sm-12 pull-right no-margin discussions">
                        <div class="row no-margin discussions-header">
                            <div class="col-xs-12 col-sm-12 no-padding tab">
                                <div class="col-xs-6 col-sm-6 no-padding">
                                    <div active="discussion" class="col-xs-10 col-sm-10 col-sm-offset-1 tab-item active">
                                        <i class="fa fa-comments"></i>
                                        <span>Thảo luận</span>
                                    </div>
                                </div>
                                <!-- .col-xs-6.col-sm-6.no-padding -->
                                <!-- .col-xs-10.col-sm-10.col-sm-offset-1.tab-item{active: 'announcement'} -->
                                <!-- %i.fa.fa-bullhorn -->
                                <!-- %span Thông báo -->
                            </div>
                            <div class="col-xs-12 col-sm-12 no-padding tab-line">
                                <div class="col-xs-6 col-sm-6 no-padding line-discussion active"></div>
                                <div class="col-xs-6 col-sm-6 no-padding line-announcement active"></div>
                            </div>
                        </div>
                        <div class="row no-margin discussions-content">
                            <div class="col-xs-12 col-sm-12 no-padding discussions-tools">
                                <div class="col-xs-10 col-sm-10 col-xs-offset-1 col-sm-offset-1">
                                    <div class="col-xs-6 col-sm-6" id="search">
                                        <input id="search-input" placeholder="Tìm kiếm thảo luận">
                                        <label id="search-submit">
                                            <i class="fa fa-search"></i>
                                        </label>
                                    </div>
                                    <div class="col-sm-2 or">
                                        <span>hoặc</span>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="dropdown">
                                            <div aria-expanded="true" aria-haspopup="true" class="dropdown-toggle new-discussion" data-toggle="dropdown" id="loading-button" type="button">
                                                Đăng thảo luận
                                            </div>
                                            <ul aria-labelledby="dropdown_discussion" class="dropdown-menu new-discussion-content">
                                                <li class="add-title">
                                                    <i class="fa fa-times pull-right close-new-discussion fa-2"></i>
                                                </li>
                                                <li>
                                                    <input class="form-control title" placeholder="Nhập tiêu đề" style="height: 35px; margin-bottom: 10px;">
                                                </li>
                                                <li>
                                                    <textarea class="reply-content form-control content" placeholder="Nhập nội dung thảo luận" style="height: 80px; margin-bottom: 20px;"></textarea>
                                                </li>
                                                <li>
                                                    <div class="submit">
                                                        <span>Đăng thảo luận</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row no-margin">
                                        <label class="discussion-noti"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 no-padding discussions-list">
                                <div class="577f9b48e7e9dd3e25000432 discussion-parent no-margin row" style="display: block">
                                    <div class="left">
                                        <img class="discussion-avatar" src="./Nói thoả thích 8 tiếng mỗi ngày mà không lo mất giọng_files/discussion-avatar-5b6a4291f20fa4fa743b500d2832d2a91934ad9a9d34a36a5e0e2b54817d8124.png" alt="Discussion avatar 5b6a4291f20fa4fa743b500d2832d2a91934ad9a9d34a36a5e0e2b54817d8124">
                                    </div>
                                    <div class="right">
                                        <div class="col-xs-12 col-sm-12 no-padding">
                                            <label class="name">TRỊNH THỊ DUYÊN</label>
                                            <label class="created_at">- 10 ngày trước</label>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 no-padding">
                                            <label class="title">cách hít thở</label>
                                            <div class="content">
                                                Thầy ơi!em thở ra nhưng hơi thở không đều.Em nên làm thế nào ạ?
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 no-padding">
                                            <label class="reply" discussion-id="577f9b48e7e9dd3e25000432"> Phản hồi (1)</label>
                                            <div class="row no-margin discussion-parent-options" id="577f9b48e7e9dd3e25000432">
                                                <div class="row no-margin discussion-child-list">
                                                    <div class="row no-margin discussion-child">
                                                        <div class="left">
                                                            <img class="discussion-avatar" src="./Nói thoả thích 8 tiếng mỗi ngày mà không lo mất giọng_files/discussion-avatar-5b6a4291f20fa4fa743b500d2832d2a91934ad9a9d34a36a5e0e2b54817d8124.png" alt="Discussion avatar 5b6a4291f20fa4fa743b500d2832d2a91934ad9a9d34a36a5e0e2b54817d8124">
                                                        </div>
                                                        <div class="right">
                                                            <div class="col-xs-12 col-sm-12 no-padding">
                                                                <label class="name">NGUYỄN QUỐC THẮNG</label>
                                                                <label class="created_at">- 8 ngày trước</label>
                                                            </div>
                                                            <div class="col-xs-12 col-sm-12 no-padding">
                                                                <div class="content">
                                                                    thở ra hóp bụng từ từ để kiểm soát được lượng hơi thoáy ra
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="row no-margin discussion-reply">
                                                    <label class="reply-noti"></label>
                                                    <textarea class="577f9b48e7e9dd3e25000432 reply-content" id="reply-content-editor" placeholder="Phản hồi của bạn" row="5"></textarea>
                                                    <span class="btn pull-right submit-reply" discussion-id="577f9b48e7e9dd3e25000432">Gửi phản hồi</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="5770d8239a3114187d004bbe discussion-parent no-margin row" style="display: block">
                                    <div class="left">
                                        <img class="discussion-avatar" src="./Nói thoả thích 8 tiếng mỗi ngày mà không lo mất giọng_files/discussion-avatar-5b6a4291f20fa4fa743b500d2832d2a91934ad9a9d34a36a5e0e2b54817d8124.png" alt="Discussion avatar 5b6a4291f20fa4fa743b500d2832d2a91934ad9a9d34a36a5e0e2b54817d8124">
                                    </div>
                                    <div class="right">
                                        <div class="col-xs-12 col-sm-12 no-padding">
                                            <label class="name">NGUYỄN THỊ HỒNG PHƯỢNG</label>
                                            <label class="lecture_index" style="font-weight: normal"> đăng thảo luận tại </label>
                                            <a href="https://edumall.vn/courses/noi-thoa-thich-8-tieng-moi-ngay-ma-khong-lo-mat-giong/lecture/3" style="font-weight: bold; text-decoration: underline; color: #167ac6">Bài giảng 4</a>
                                            <label class="created_at">- 21 ngày trước</label>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 no-padding">
                                            <label class="title">
                                                cách hít thở
                                            </label>
                                            <div class="content">
                                                Hít vào phình bụng nên tối đa, thở ra hóp sâu bụng lại

                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 no-padding">
                                            <label class="reply" discussion-id="5770d8239a3114187d004bbe"> Phản hồi (1)</label>
                                            <div class="row no-margin discussion-parent-options" id="5770d8239a3114187d004bbe">
                                                <div class="row no-margin discussion-child-list">
                                                    <div class="row no-margin discussion-child">
                                                        <div class="left">
                                                            <img class="discussion-avatar" src="./Nói thoả thích 8 tiếng mỗi ngày mà không lo mất giọng_files/discussion-avatar-5b6a4291f20fa4fa743b500d2832d2a91934ad9a9d34a36a5e0e2b54817d8124.png" alt="Discussion avatar 5b6a4291f20fa4fa743b500d2832d2a91934ad9a9d34a36a5e0e2b54817d8124">
                                                        </div>
                                                        <div class="right">
                                                            <div class="col-xs-12 col-sm-12 no-padding">
                                                                <label class="name">NGOTRUC</label>
                                                                <label class="created_at">- 18 ngày trước</label>
                                                            </div>
                                                            <div class="col-xs-12 col-sm-12 no-padding">
                                                                <div class="content">
                                                                    <div class="col-xs-12 col-sm-12 no-padding" style="box-sizing: border-box; position: relative; min-height: 1px; float: left; width: 545px; color: #212121; font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 20px; padding: 0px !important;">
                                                                        <div class="content" style="box-sizing: border-box; color: #797979; word-wrap: break-word; padding-right: 10px; overflow-x: auto;">Hít vào phình bụng nên tối đa, thở ra hóp sâu bụng lại</div>
                                                                        <div>&nbsp;</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="row no-margin discussion-reply">
                                                    <label class="reply-noti"></label>
                                                    <textarea class="5770d8239a3114187d004bbe reply-content" id="reply-content-editor" placeholder="Phản hồi của bạn" row="5"></textarea>
                                                    <span class="btn pull-right submit-reply" discussion-id="5770d8239a3114187d004bbe">Gửi phản hồi</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="5770d81e9a31141880003b41 discussion-parent no-margin row" style="display: block">
                                    <div class="left">
                                        <img class="discussion-avatar" src="./Nói thoả thích 8 tiếng mỗi ngày mà không lo mất giọng_files/discussion-avatar-5b6a4291f20fa4fa743b500d2832d2a91934ad9a9d34a36a5e0e2b54817d8124.png" alt="Discussion avatar 5b6a4291f20fa4fa743b500d2832d2a91934ad9a9d34a36a5e0e2b54817d8124">
                                    </div>
                                    <div class="right">
                                        <div class="col-xs-12 col-sm-12 no-padding">
                                            <label class="name">NGUYỄN THỊ HỒNG PHƯỢNG</label>
                                            <label class="lecture_index" style="font-weight: normal"> đăng thảo luận tại </label>
                                            <a href="https://edumall.vn/courses/noi-thoa-thich-8-tieng-moi-ngay-ma-khong-lo-mat-giong/lecture/3" style="font-weight: bold; text-decoration: underline; color: #167ac6">Bài giảng 4</a>
                                            <label class="created_at">- 21 ngày trước</label>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 no-padding">
                                            <label class="title">
                                                cách hít thở
                                            </label>
                                            <div class="content">
                                                Hít vào phình bụng nên tối đa, thở ra hóp sâu bụng lại

                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 no-padding">
                                            <label class="reply" discussion-id="5770d81e9a31141880003b41"> Phản hồi </label>
                                            <div class="row no-margin discussion-parent-options" id="5770d81e9a31141880003b41">
                                                <div class="row no-margin discussion-child-list">
                                                </div>
                                                <div class="row no-margin discussion-reply">
                                                    <label class="reply-noti"></label>
                                                    <textarea class="5770d81e9a31141880003b41 reply-content" id="reply-content-editor" placeholder="Phản hồi của bạn" row="5"></textarea>
                                                    <span class="btn pull-right submit-reply" discussion-id="5770d81e9a31141880003b41">Gửi phản hồi</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="576ced22e7e9dd10ab0032f0 discussion-parent no-margin row" style="display: block">
                                    <div class="left">
                                        <img class="discussion-avatar" src="./Nói thoả thích 8 tiếng mỗi ngày mà không lo mất giọng_files/discussion-avatar-5b6a4291f20fa4fa743b500d2832d2a91934ad9a9d34a36a5e0e2b54817d8124.png" alt="Discussion avatar 5b6a4291f20fa4fa743b500d2832d2a91934ad9a9d34a36a5e0e2b54817d8124">
                                    </div>
                                    <div class="right">
                                        <div class="col-xs-12 col-sm-12 no-padding">
                                            <label class="name">LÊ THỊ MỸ HẠNH</label>
                                            <label class="created_at">- 24 ngày trước</label>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 no-padding">
                                            <label class="title">xì hơi thành tiếng</label>
                                            <div class="content">
                                                Cho mình hỏi xì &nbsp;hơi thành tiếng bao nhiêu giây là được? có một mốc nào để mình biết đã hoàn thành bước này hay không?
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 no-padding">
                                            <label class="reply" discussion-id="576ced22e7e9dd10ab0032f0"> Phản hồi </label>
                                            <div class="row no-margin discussion-parent-options" id="576ced22e7e9dd10ab0032f0">
                                                <div class="row no-margin discussion-child-list">
                                                </div>
                                                <div class="row no-margin discussion-reply">
                                                    <label class="reply-noti"></label>
                                                    <textarea class="576ced22e7e9dd10ab0032f0 reply-content" id="reply-content-editor" placeholder="Phản hồi của bạn" row="5"></textarea>
                                                    <span class="btn pull-right submit-reply" discussion-id="576ced22e7e9dd10ab0032f0">Gửi phản hồi</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="576a61fa9a31144b3d0037bf discussion-parent no-margin row" style="display: block">
                                    <div class="left">
                                        <img class="discussion-avatar" src="./Nói thoả thích 8 tiếng mỗi ngày mà không lo mất giọng_files/discussion-avatar-5b6a4291f20fa4fa743b500d2832d2a91934ad9a9d34a36a5e0e2b54817d8124.png" alt="Discussion avatar 5b6a4291f20fa4fa743b500d2832d2a91934ad9a9d34a36a5e0e2b54817d8124">
                                    </div>
                                    <div class="right">
                                        <div class="col-xs-12 col-sm-12 no-padding">
                                            <label class="name">ĐĂNG QUYẾN</label>
                                            <label class="lecture_index" style="font-weight: normal"> đăng thảo luận tại </label>
                                            <a href="https://edumall.vn/courses/noi-thoa-thich-8-tieng-moi-ngay-ma-khong-lo-mat-giong/lecture/9" style="font-weight: bold; text-decoration: underline; color: #167ac6">Bài giảng 10</a>
                                            <label class="created_at">- 26 ngày trước</label>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 no-padding">
                                            <label class="title">bài tập lấy hơi</label>
                                            <div class="content">
                                                dạ em chào thầy ạ ! thầy ơi cho e hỏi xao lúc e hít vào mà ngực nó vẫn căng lên và vai cũng nhô lên,em đã cố khắc phục nhiều rồi mà vẫn k được ạ,em cảm ơn thầy nhiều ạ
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 no-padding">
                                            <label class="reply" discussion-id="576a61fa9a31144b3d0037bf"> Phản hồi (2)</label>
                                            <div class="row no-margin discussion-parent-options" id="576a61fa9a31144b3d0037bf">
                                                <div class="row no-margin discussion-child-list">
                                                    <div class="row no-margin discussion-child">
                                                        <div class="left">
                                                            <img class="discussion-avatar" src="./Nói thoả thích 8 tiếng mỗi ngày mà không lo mất giọng_files/picture" alt="Picture">
                                                        </div>
                                                        <div class="right">
                                                            <div class="col-xs-12 col-sm-12 no-padding">
                                                                <label class="name">Bí Đô</label>
                                                                <label class="created_at">- 22 ngày trước</label>
                                                            </div>
                                                            <div class="col-xs-12 col-sm-12 no-padding">
                                                                <div class="content">
                                                                    hi, nhiều người vậy nè
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row no-margin discussion-child">
                                                        <div class="left">
                                                            <img class="discussion-avatar" src="./Nói thoả thích 8 tiếng mỗi ngày mà không lo mất giọng_files/discussion-avatar-5b6a4291f20fa4fa743b500d2832d2a91934ad9a9d34a36a5e0e2b54817d8124.png" alt="Discussion avatar 5b6a4291f20fa4fa743b500d2832d2a91934ad9a9d34a36a5e0e2b54817d8124">
                                                        </div>
                                                        <div class="right">
                                                            <div class="col-xs-12 col-sm-12 no-padding">
                                                                <label class="name">ĐOÀN THỊ NHÀN</label>
                                                                <label class="created_at">- 14 ngày trước</label>
                                                            </div>
                                                            <div class="col-xs-12 col-sm-12 no-padding">
                                                                <div class="content">
                                                                    chị luyện tập nhiều sẽ được, đừng nóng vội<br>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="row no-margin discussion-reply">
                                                    <label class="reply-noti"></label>
                                                    <textarea class="576a61fa9a31144b3d0037bf reply-content" id="reply-content-editor" placeholder="Phản hồi của bạn" row="5"></textarea>
                                                    <span class="btn pull-right submit-reply" discussion-id="576a61fa9a31144b3d0037bf">Gửi phản hồi</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="576a61f8e7e9dd7c49003a0b discussion-parent no-margin row" style="display: none">
                                    <div class="left">
                                        <img class="discussion-avatar" src="./Nói thoả thích 8 tiếng mỗi ngày mà không lo mất giọng_files/discussion-avatar-5b6a4291f20fa4fa743b500d2832d2a91934ad9a9d34a36a5e0e2b54817d8124.png" alt="Discussion avatar 5b6a4291f20fa4fa743b500d2832d2a91934ad9a9d34a36a5e0e2b54817d8124">
                                    </div>
                                    <div class="right">
                                        <div class="col-xs-12 col-sm-12 no-padding">
                                            <label class="name">ĐĂNG QUYẾN</label>
                                            <label class="lecture_index" style="font-weight: normal"> đăng thảo luận tại </label>
                                            <a href="https://edumall.vn/courses/noi-thoa-thich-8-tieng-moi-ngay-ma-khong-lo-mat-giong/lecture/9" style="font-weight: bold; text-decoration: underline; color: #167ac6">Bài giảng 10</a>
                                            <label class="created_at">- 26 ngày trước</label>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 no-padding">
                                            <label class="title">bài tập lấy hơi</label>
                                            <div class="content">
                                                dạ em chào thầy ạ ! thầy ơi cho e hỏi xao lúc e hít vào mà ngực nó vẫn căng lên và vai cũng nhô lên,em đã cố khắc phục nhiều rồi mà vẫn k được ạ,em cảm ơn thầy nhiều ạ
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 no-padding">
                                            <label class="reply" discussion-id="576a61f8e7e9dd7c49003a0b"> Phản hồi </label>
                                            <div class="row no-margin discussion-parent-options" id="576a61f8e7e9dd7c49003a0b">
                                                <div class="row no-margin discussion-child-list">
                                                </div>
                                                <div class="row no-margin discussion-reply">
                                                    <label class="reply-noti"></label>
                                                    <textarea class="576a61f8e7e9dd7c49003a0b reply-content" id="reply-content-editor" placeholder="Phản hồi của bạn" row="5"></textarea>
                                                    <span class="btn pull-right submit-reply" discussion-id="576a61f8e7e9dd7c49003a0b">Gửi phản hồi</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="5765281b9a31146773005e7c discussion-parent no-margin row" style="display: none">
                                    <div class="left">
                                        <img class="discussion-avatar" src="./Nói thoả thích 8 tiếng mỗi ngày mà không lo mất giọng_files/discussion-avatar-5b6a4291f20fa4fa743b500d2832d2a91934ad9a9d34a36a5e0e2b54817d8124.png" alt="Discussion avatar 5b6a4291f20fa4fa743b500d2832d2a91934ad9a9d34a36a5e0e2b54817d8124">
                                    </div>
                                    <div class="right">
                                        <div class="col-xs-12 col-sm-12 no-padding">
                                            <label class="name">TRẦN ĐÌNH SINH</label>
                                            <label class="lecture_index" style="font-weight: normal"> đăng thảo luận tại </label>
                                            <a href="https://edumall.vn/courses/noi-thoa-thich-8-tieng-moi-ngay-ma-khong-lo-mat-giong/lecture/2" style="font-weight: bold; text-decoration: underline; color: #167ac6">Bài giảng 3</a>
                                            <label class="created_at">- 30 ngày trước</label>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 no-padding">
                                            <label class="title">hi</label>
                                            <div class="content">
                                                sao khong dung power point, nhu vay se thuyet phuc hon.
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 no-padding">
                                            <label class="reply" discussion-id="5765281b9a31146773005e7c"> Phản hồi </label>
                                            <div class="row no-margin discussion-parent-options" id="5765281b9a31146773005e7c">
                                                <div class="row no-margin discussion-child-list">
                                                </div>
                                                <div class="row no-margin discussion-reply">
                                                    <label class="reply-noti"></label>
                                                    <textarea class="5765281b9a31146773005e7c reply-content" id="reply-content-editor" placeholder="Phản hồi của bạn" row="5"></textarea>
                                                    <span class="btn pull-right submit-reply" discussion-id="5765281b9a31146773005e7c">Gửi phản hồi</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="5760ae6fe7e9dd22c0005563 discussion-parent no-margin row" style="display: none">
                                    <div class="left">
                                        <img class="discussion-avatar" src="./Nói thoả thích 8 tiếng mỗi ngày mà không lo mất giọng_files/discussion-avatar-5b6a4291f20fa4fa743b500d2832d2a91934ad9a9d34a36a5e0e2b54817d8124.png" alt="Discussion avatar 5b6a4291f20fa4fa743b500d2832d2a91934ad9a9d34a36a5e0e2b54817d8124">
                                    </div>
                                    <div class="right">
                                        <div class="col-xs-12 col-sm-12 no-padding">
                                            <label class="name">TĂNG NGỌC OANH</label>
                                            <label class="lecture_index" style="font-weight: normal"> đăng thảo luận tại </label>
                                            <a href="https://edumall.vn/courses/noi-thoa-thich-8-tieng-moi-ngay-ma-khong-lo-mat-giong/lecture/3" style="font-weight: bold; text-decoration: underline; color: #167ac6">Bài giảng 4</a>
                                            <label class="created_at">- khoảng 1 tháng trước</label>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 no-padding">
                                            <label class="title">cách hít thở</label>
                                            <div class="content">
                                                Thầy Nam Anh ơi khi tôi hít vào thì bụng cũng hóp vô chứ đâu có phình ra ạ. Vậy làm như vậy có đúng không ạ.

                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 no-padding">
                                            <label class="reply" discussion-id="5760ae6fe7e9dd22c0005563"> Phản hồi (3)</label>
                                            <div class="row no-margin discussion-parent-options" id="5760ae6fe7e9dd22c0005563">
                                                <div class="row no-margin discussion-child-list">
                                                    <div class="row no-margin discussion-child">
                                                        <div class="left">
                                                            <img class="discussion-avatar" src="./Nói thoả thích 8 tiếng mỗi ngày mà không lo mất giọng_files/discussion-avatar-5b6a4291f20fa4fa743b500d2832d2a91934ad9a9d34a36a5e0e2b54817d8124.png" alt="Discussion avatar 5b6a4291f20fa4fa743b500d2832d2a91934ad9a9d34a36a5e0e2b54817d8124">
                                                        </div>
                                                        <div class="right">
                                                            <div class="col-xs-12 col-sm-12 no-padding">
                                                                <label class="name">LÊ TRUNG QUÝ</label>
                                                                <label class="created_at">- khoảng 1 tháng trước</label>
                                                            </div>
                                                            <div class="col-xs-12 col-sm-12 no-padding">
                                                                <div class="content">
                                                                    Bạn em kỹ lại vedio nhé. Bụng phình lên khi hít vào và xẹp xuống khi thở ra.
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row no-margin discussion-child">
                                                        <div class="left">
                                                            <img class="discussion-avatar" src="./Nói thoả thích 8 tiếng mỗi ngày mà không lo mất giọng_files/picture" alt="Picture">
                                                        </div>
                                                        <div class="right">
                                                            <div class="col-xs-12 col-sm-12 no-padding">
                                                                <label class="name">Bí Đô</label>
                                                                <label class="created_at">- 22 ngày trước</label>
                                                            </div>
                                                            <div class="col-xs-12 col-sm-12 no-padding">
                                                                <div class="content">
                                                                    oanh làm sai cách rồi đó
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row no-margin discussion-child">
                                                        <div class="left">
                                                            <img class="discussion-avatar" src="./Nói thoả thích 8 tiếng mỗi ngày mà không lo mất giọng_files/discussion-avatar-5b6a4291f20fa4fa743b500d2832d2a91934ad9a9d34a36a5e0e2b54817d8124.png" alt="Discussion avatar 5b6a4291f20fa4fa743b500d2832d2a91934ad9a9d34a36a5e0e2b54817d8124">
                                                        </div>
                                                        <div class="right">
                                                            <div class="col-xs-12 col-sm-12 no-padding">
                                                                <label class="name">NGUYỄN THỊ HỒNG PHƯỢNG</label>
                                                                <label class="created_at">- 21 ngày trước</label>
                                                            </div>
                                                            <div class="col-xs-12 col-sm-12 no-padding">
                                                                <div class="content">
                                                                    Bạn nào tập yoga thì đây là phép thở bụng đấy
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="row no-margin discussion-reply">
                                                    <label class="reply-noti"></label>
                                                    <textarea class="5760ae6fe7e9dd22c0005563 reply-content" id="reply-content-editor" placeholder="Phản hồi của bạn" row="5"></textarea>
                                                    <span class="btn pull-right submit-reply" discussion-id="5760ae6fe7e9dd22c0005563">Gửi phản hồi</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="57500793e7e9dd5bb7000d18 discussion-parent no-margin row" style="display: none">
                                    <div class="left">
                                        <img class="discussion-avatar" src="./Nói thoả thích 8 tiếng mỗi ngày mà không lo mất giọng_files/discussion-avatar-5b6a4291f20fa4fa743b500d2832d2a91934ad9a9d34a36a5e0e2b54817d8124.png" alt="Discussion avatar 5b6a4291f20fa4fa743b500d2832d2a91934ad9a9d34a36a5e0e2b54817d8124">
                                    </div>
                                    <div class="right">
                                        <div class="col-xs-12 col-sm-12 no-padding">
                                            <label class="name">VŨ HOÀNG</label>
                                            <label class="created_at">- khoảng 2 tháng trước</label>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 no-padding">
                                            <label class="title">Phát âm chuẩn dấu hỏi và dấu ngã</label>
                                            <div class="content">
                                                Thầy ơi, khi em nói từng từ thì em nói được hai dấu hỏi và dấu ngã ví dụ như sửa chữa, bảo dưỡng...nhưng khi nói nhiều thì em cứ hay bị đọc thành sựa chứa, bạo dướng...cí cách nào phát âm chuẩn khi nói nhiều không thầy?
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 no-padding">
                                            <label class="reply" discussion-id="57500793e7e9dd5bb7000d18"> Phản hồi (1)</label>
                                            <div class="row no-margin discussion-parent-options" id="57500793e7e9dd5bb7000d18">
                                                <div class="row no-margin discussion-child-list">
                                                    <div class="row no-margin discussion-child">
                                                        <div class="left">
                                                            <img class="discussion-avatar" src="./Nói thoả thích 8 tiếng mỗi ngày mà không lo mất giọng_files/discussion-avatar-5b6a4291f20fa4fa743b500d2832d2a91934ad9a9d34a36a5e0e2b54817d8124.png" alt="Discussion avatar 5b6a4291f20fa4fa743b500d2832d2a91934ad9a9d34a36a5e0e2b54817d8124">
                                                        </div>
                                                        <div class="right">
                                                            <div class="col-xs-12 col-sm-12 no-padding">
                                                                <label class="name">PHAN MINH TUỆ</label>
                                                                <label class="created_at">- khoảng 1 tháng trước</label>
                                                            </div>
                                                            <div class="col-xs-12 col-sm-12 no-padding">
                                                                <div class="content">
                                                                    Vũ Hoàng là Thanh Chương phải không
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="row no-margin discussion-reply">
                                                    <label class="reply-noti"></label>
                                                    <textarea class="57500793e7e9dd5bb7000d18 reply-content" id="reply-content-editor" placeholder="Phản hồi của bạn" row="5"></textarea>
                                                    <span class="btn pull-right submit-reply" discussion-id="57500793e7e9dd5bb7000d18">Gửi phản hồi</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="574efdbae7e9dd19e20039c9 discussion-parent no-margin row" style="display: none">
                                    <div class="left">
                                        <img class="discussion-avatar" src="./Nói thoả thích 8 tiếng mỗi ngày mà không lo mất giọng_files/discussion-avatar-5b6a4291f20fa4fa743b500d2832d2a91934ad9a9d34a36a5e0e2b54817d8124.png" alt="Discussion avatar 5b6a4291f20fa4fa743b500d2832d2a91934ad9a9d34a36a5e0e2b54817d8124">
                                    </div>
                                    <div class="right">
                                        <div class="col-xs-12 col-sm-12 no-padding">
                                            <label class="name">LÊ TRUNG QUÝ</label>
                                            <label class="created_at">- khoảng 2 tháng trước</label>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 no-padding">
                                            <label class="title">Phát âm mất chữ y</label>
                                            <div class="content">
                                                Thầy ơi, em ở Phú Thọ và tỉnh em đa số mọi người phát âm bị mất chữ y ạ. ví dụ: quyên thành quên. chuyện thành chuện. Đặc biệt là em khi nghe hai từ đó không phân biệt được khác nhau không.
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 no-padding">
                                            <label class="reply" discussion-id="574efdbae7e9dd19e20039c9"> Phản hồi </label>
                                            <div class="row no-margin discussion-parent-options" id="574efdbae7e9dd19e20039c9">
                                                <div class="row no-margin discussion-child-list">
                                                </div>
                                                <div class="row no-margin discussion-reply">
                                                    <label class="reply-noti"></label>
                                                    <textarea class="574efdbae7e9dd19e20039c9 reply-content" id="reply-content-editor" placeholder="Phản hồi của bạn" row="5"></textarea>
                                                    <span class="btn pull-right submit-reply" discussion-id="574efdbae7e9dd19e20039c9">Gửi phản hồi</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="574d48c4e7e9dd52a70000ff discussion-parent no-margin row" style="display: none">
                                    <div class="left">
                                        <img class="discussion-avatar" src="./Nói thoả thích 8 tiếng mỗi ngày mà không lo mất giọng_files/discussion-avatar-5b6a4291f20fa4fa743b500d2832d2a91934ad9a9d34a36a5e0e2b54817d8124.png" alt="Discussion avatar 5b6a4291f20fa4fa743b500d2832d2a91934ad9a9d34a36a5e0e2b54817d8124">
                                    </div>
                                    <div class="right">
                                        <div class="col-xs-12 col-sm-12 no-padding">
                                            <label class="name">ĐOÀN THỊ BÌNH YÊN</label>
                                            <label class="lecture_index" style="font-weight: normal"> đăng thảo luận tại </label>
                                            <a href="https://edumall.vn/courses/noi-thoa-thich-8-tieng-moi-ngay-ma-khong-lo-mat-giong/lecture/0" style="font-weight: bold; text-decoration: underline; color: #167ac6">Bài giảng 1</a>
                                            <label class="created_at">- khoảng 2 tháng trước</label>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 no-padding">
                                            <label class="title">Cách phát âm chuẩn</label>
                                            <div class="content">
                                                Thưa thầy, em bị tật dính thắng lưỡi nhẹ, thường phát âm không rõ các từ bắt đầu bằng đ và n. Có cách nào giúp em phát âm rõ hơn tí được không ạ? E xin cảm ơn
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 no-padding">
                                            <label class="reply" discussion-id="574d48c4e7e9dd52a70000ff"> Phản hồi </label>
                                            <div class="row no-margin discussion-parent-options" id="574d48c4e7e9dd52a70000ff">
                                                <div class="row no-margin discussion-child-list">
                                                </div>
                                                <div class="row no-margin discussion-reply">
                                                    <label class="reply-noti"></label>
                                                    <textarea class="574d48c4e7e9dd52a70000ff reply-content" id="reply-content-editor" placeholder="Phản hồi của bạn" row="5"></textarea>
                                                    <span class="btn pull-right submit-reply" discussion-id="574d48c4e7e9dd52a70000ff">Gửi phản hồi</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="574d48bf9a311409060000cc discussion-parent no-margin row" style="display: none">
                                    <div class="left">
                                        <img class="discussion-avatar" src="./Nói thoả thích 8 tiếng mỗi ngày mà không lo mất giọng_files/discussion-avatar-5b6a4291f20fa4fa743b500d2832d2a91934ad9a9d34a36a5e0e2b54817d8124.png" alt="Discussion avatar 5b6a4291f20fa4fa743b500d2832d2a91934ad9a9d34a36a5e0e2b54817d8124">
                                    </div>
                                    <div class="right">
                                        <div class="col-xs-12 col-sm-12 no-padding">
                                            <label class="name">ĐOÀN THỊ BÌNH YÊN</label>
                                            <label class="lecture_index" style="font-weight: normal"> đăng thảo luận tại </label>
                                            <a href="https://edumall.vn/courses/noi-thoa-thich-8-tieng-moi-ngay-ma-khong-lo-mat-giong/lecture/0" style="font-weight: bold; text-decoration: underline; color: #167ac6">Bài giảng 1</a>
                                            <label class="created_at">- khoảng 2 tháng trước</label>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 no-padding">
                                            <label class="title">Cách phát âm chuẩn</label>
                                            <div class="content">
                                                Thưa thầy, em bị tật dính thắng lưỡi nhẹ, thường phát âm không rõ các từ bắt đầu bằng đ và n. Có cách nào giúp em phát âm rõ hơn tí được không ạ? E xin cảm ơn
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 no-padding">
                                            <label class="reply" discussion-id="574d48bf9a311409060000cc"> Phản hồi </label>
                                            <div class="row no-margin discussion-parent-options" id="574d48bf9a311409060000cc">
                                                <div class="row no-margin discussion-child-list">
                                                </div>
                                                <div class="row no-margin discussion-reply">
                                                    <label class="reply-noti"></label>
                                                    <textarea class="574d48bf9a311409060000cc reply-content" id="reply-content-editor" placeholder="Phản hồi của bạn" row="5"></textarea>
                                                    <span class="btn pull-right submit-reply" discussion-id="574d48bf9a311409060000cc">Gửi phản hồi</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="574d22e09a3114342700a459 discussion-parent no-margin row" style="display: none">
                                    <div class="left">
                                        <img class="discussion-avatar" src="./Nói thoả thích 8 tiếng mỗi ngày mà không lo mất giọng_files/discussion-avatar-5b6a4291f20fa4fa743b500d2832d2a91934ad9a9d34a36a5e0e2b54817d8124.png" alt="Discussion avatar 5b6a4291f20fa4fa743b500d2832d2a91934ad9a9d34a36a5e0e2b54817d8124">
                                    </div>
                                    <div class="right">
                                        <div class="col-xs-12 col-sm-12 no-padding">
                                            <label class="name">ĐẶNG QUỲNH TRÂN</label>
                                            <label class="lecture_index" style="font-weight: normal"> đăng thảo luận tại </label>
                                            <a href="https://edumall.vn/courses/noi-thoa-thich-8-tieng-moi-ngay-ma-khong-lo-mat-giong/lecture/0" style="font-weight: bold; text-decoration: underline; color: #167ac6">Bài giảng 1</a>
                                            <label class="created_at">- khoảng 2 tháng trước</label>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 no-padding">
                                            <label class="title">cách phát âm chuẩn và nói chậm</label>
                                            <div class="content">
                                                thầy ơi em bị loại diễn đạt nói ng khác khó hiểu với em nói không kiểm soát được tốc độ. em nên tập bài tâp nào thêm ạ?
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 no-padding">
                                            <label class="reply" discussion-id="574d22e09a3114342700a459"> Phản hồi </label>
                                            <div class="row no-margin discussion-parent-options" id="574d22e09a3114342700a459">
                                                <div class="row no-margin discussion-child-list">
                                                </div>
                                                <div class="row no-margin discussion-reply">
                                                    <label class="reply-noti"></label>
                                                    <textarea class="574d22e09a3114342700a459 reply-content" id="reply-content-editor" placeholder="Phản hồi của bạn" row="5"></textarea>
                                                    <span class="btn pull-right submit-reply" discussion-id="574d22e09a3114342700a459">Gửi phản hồi</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="574d22dde7e9dd168600a8f0 discussion-parent no-margin row" style="display: none">
                                    <div class="left">
                                        <img class="discussion-avatar" src="./Nói thoả thích 8 tiếng mỗi ngày mà không lo mất giọng_files/discussion-avatar-5b6a4291f20fa4fa743b500d2832d2a91934ad9a9d34a36a5e0e2b54817d8124.png" alt="Discussion avatar 5b6a4291f20fa4fa743b500d2832d2a91934ad9a9d34a36a5e0e2b54817d8124">
                                    </div>
                                    <div class="right">
                                        <div class="col-xs-12 col-sm-12 no-padding">
                                            <label class="name">ĐẶNG QUỲNH TRÂN</label>
                                            <label class="lecture_index" style="font-weight: normal"> đăng thảo luận tại </label>
                                            <a href="https://edumall.vn/courses/noi-thoa-thich-8-tieng-moi-ngay-ma-khong-lo-mat-giong/lecture/0" style="font-weight: bold; text-decoration: underline; color: #167ac6">Bài giảng 1</a>
                                            <label class="created_at">- khoảng 2 tháng trước</label>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 no-padding">
                                            <label class="title">cách phát âm chuẩn và nói chậm</label>
                                            <div class="content">
                                                thầy ơi em bị loại diễn đạt nói ng khác khó hiểu với em nói không kiểm soát được tốc độ. em nên tập bài tâp nào thêm ạ?
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 no-padding">
                                            <label class="reply" discussion-id="574d22dde7e9dd168600a8f0"> Phản hồi </label>
                                            <div class="row no-margin discussion-parent-options" id="574d22dde7e9dd168600a8f0">
                                                <div class="row no-margin discussion-child-list">
                                                </div>
                                                <div class="row no-margin discussion-reply">
                                                    <label class="reply-noti"></label>
                                                    <textarea class="574d22dde7e9dd168600a8f0 reply-content" id="reply-content-editor" placeholder="Phản hồi của bạn" row="5"></textarea>
                                                    <span class="btn pull-right submit-reply" discussion-id="574d22dde7e9dd168600a8f0">Gửi phản hồi</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row no-margin load-more-discussions" current-index="1">
                                    <label>Xem thêm các thảo luận khác</label>
                                </div>
                            </div>

                        </div>
                        <div class="row no-margin announcements-content" style="display: none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

