<div class="modal fade" id="fogot-password-dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
                <h3 class="modal-title">Lấy lại mật khẩu</h3>
            </div>
            <div class="modal-body">
                <div class="forgot-password-content">
                    <div class="form-control-wrapper">
                        <input class="form-control" id="email-reset" name="email" placeholder="Email đăng nhập" required="true" type="email">
                    </div>
                    <div class="form-control-wrapper">
                        <a class="btn reset-password-button">Đặt lại mật khẩu</a>
                    </div>
                    <div class="form-control-wrapper">
                        <span>Hoặc</span>
                    </div>
                    <div class="form-control-wrapper">
                        <a class="btn btn-link" data-dismiss="modal" data-target="#login-modal" data-toggle="modal">Đăng nhập</a>
                    </div>
                </div>
                <div class="forgot-password-content-success" style="display: none;">
                    <div class="form-control-wrapper">
                        <h5 class="text-success">Vui lòng kiểm tra email để đặt lại mật khẩu</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

