@model Gds.VideoFrontend.Models.ContactViewModel

<div class="hd-user logged_in">
    <div class="btn-group notification-dropdown">
        <div aria-expanded="false" class="dropdown-toggle read-noti" data-toggle="dropdown" type="button">
            <div class="notification">
                <div class="notification-button">
                    <i class="fa fa-bell"></i>
                    <span class="badge noti-count"></span>
                </div>
            </div>
        </div>
        <div aria-labelledby="dropdownNotification" class="dropdown-menu dropdown-notification">
            <h5 class="title">Thông báo</h5>
            <div class="noti-mask" id="flux">
                <ul class="notifications-container">
                    <li class="no-notification">
                        <div class="no-notification-detail">
                            <h5>Không có thêm thông báo để hiển thị tại thời điểm này</h5>
                        </div>
                    </li>
                </ul>
                <ul class="notifications-container" id="noti-first"></ul>
                <ul class="notifications-container">
                    <li class="no-notification">
                        <div class="all-notification-detail">
                            <a href="#">Xem tất cả</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="btn-group user-dropdown">
        <div aria-expanded="true" class="dropdown-toggle" data-toggle="dropdown" type="button">
            @if (Model.ContactImage != null)
            {
                <img class="user-avatar-small" src="@Model.ContactImage" alt="Avatar">
            }
            else
            {
                <img class="user-avatar-small" src="~/Content/Image/avata.png" alt="Avatar">
            }
        </div>
        <div aria-labelledby="dropdownMenuDivider" class="dropdown-menu dropdown-menu-right">
            <div class="user-dropdown-header">
                <div class="user-dropdown-header-left">
                    @if (Model.ContactImage != null)
                    {
                        <img class="user-avatar-small" src="@Model.ContactImage" alt="Avatar">
                    }
                    else
                    {
                        <img class="user-avatar-medium" src="~/Content/Image/avata.png" alt="Avatar">
                    }
                </div>
                <div class="user-dropdown-header-right">
                    <p class="name">@Model.ContactFullName</p>
                    <div class="user-icon abs">
                        <a class="link" href="/users/view_profile">
                            <i class="fa fa-user"></i>
                        </a>
                        <a class="link" href="/users/edit_profile">
                            <i class="fa fa-pencil"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="user-dropdown-links">
                <a class="link" href="/users/learning">Các khoá học của tôi</a>
                <a class="link" href="#">Danh sách quan tâm</a>
                <a class="link" href="/users/payment_history">Lịch sử giao dịch</a>
            </div>
            <div class="user-dropdown-logout">
                <a class="btn btn-flat btn-logout" data-method="delete" href="#" rel="nofollow">
                    <i class="fa fa-power-off"></i>
                    Đăng xuất
                </a>
            </div>
        </div>
    </div>
</div>