
<script id="menuCoursesTemplate" type="text/x-jquery-tmpl">
    {{each data}}
    <li class="hot">
        <a data-slug="courses_${$value.CategoryId}" href="#">${$value.CategoryName}</a>
    </li>
    {{/each}}
</script>