<ul class="dropdown-menu sidebar-category">
    <li class="btn btn-flat category-item my-course">
        <a href="https://edumall.vn/home/my-course/learning">Khóa học của tôi</a>
    </li>
    <li class="btn btn-flat category-item it">
        <a href="https://edumall.vn/cong-nghe-thong-tin">Công nghệ thông tin</a>
    </li>
    <li class="btn btn-flat category-item children">
        <a href="https://edumall.vn/nuoi-day-con">Nuôi dạy con</a>
    </li>
    <li class="btn btn-flat category-item personal">
        <a href="https://edumall.vn/ky-nang-mem">Phát triển cá nhân</a>
    </li>
    <li class="btn btn-flat business category-item">
        <a href="https://edumall.vn/kinh-doanh-lam-giau">Kinh doanh và khởi nghiệp</a>
    </li>
    <li class="btn btn-flat category-item english">
        <a href="https://edumall.vn/tieng-anh-nghe-thuat">Tiếng Anh</a>
    </li>
    <li class="btn btn-flat category-item design">
        <a href="https://edumall.vn/thiet-ke">Thiết kế</a>
    </li>
    <li class="btn btn-flat category-item marketing">
        <a href="https://edumall.vn/marketing">Marketing</a>
    </li>
    <li class="btn btn-flat category-item office">
        <a href="https://edumall.vn/ung-dung-van-phong">Ứng dụng văn phòng</a>
    </li>
    <li class="btn btn-flat category-item other">
        <a href="https://edumall.vn/chu-de-khac">Chủ đề khác</a>
    </li>
</ul>
