
<script id="categoryTypeParentTemplate" type="text/x-jquery-tmpl">
    <table class="table table-striped table-bordered table-hover dataTables-example dataTable dtr-inline" id="categoryTypeParent_Table" role="grid" aria-describedby="DataTables_Table_0_info">
        <thead>
            <tr role="row">
                <th class="sorting_asc" tabindex="0" aria-controls="categoryTypeParent_Table" rowspan="1" colspan="1" aria-sort="ascending" style="width: 189px;">Tên gói</th>
                <th class="sorting" tabindex="0" aria-controls="categoryTypeParent_Table" rowspan="1" colspan="1" style="width: 253px;">Độ tuổi</th>
                <th class="sorting" tabindex="0" aria-controls="categoryTypeParent_Table" rowspan="1" colspan="1" style="width: 253px;">Nội dung</th>
                <th class="sorting" tabindex="0" aria-controls="categoryTypeParent_Table" rowspan="1" colspan="1" style="width: 253px;">Tác giả</th>
                <th class="sorting" tabindex="0" aria-controls="categoryTypeParent_Table" rowspan="1" colspan="1" style="width: 229px;">Giá tiền</th>
                <th class="sorting" tabindex="0" aria-controls="categoryTypeParent_Table" rowspan="1" colspan="1" style="width: 162px;">Ngày tạo</th>
                <th tabindex="0" aria-controls="categoryTypeParent_Table" rowspan="1" colspan="1" style="width: 115px;"></th>
            </tr>
        </thead>
        <tbody>
            {{each Result}}
            <tr class="gradeA odd" role="row" id="${$value.CategoryTypeId}">
                <td class="category-type-name" data-filetype="${$value.MimeTypeImage}" data-file="${$value.ThumbnailImage}" data-childrenid="${$value.CategoryTypeId}">${$value.ChildrenName}</td>
                <td class="age" data-age="${$value.AgeOrderId}">${$value.AgeOrderName}</td>
                <td class="content-detail">{{html $value.Content}}</td>
                <td class="author" data-authorid="${$value.AuthorId}">${$value.AuthorName}</td>
                <td class="price" data-priceid="${$value.PriceId}">${$value.Price}</td>
                <td>${$value.DateTime}</td>
                <td>
                    <a class="btn btn-sm btn-default btn-rounded" href="categorydetail?categoryTypeId=${$value.CategoryTypeId}" target="_blank">Chi tiết</a>
                    <a class="btn btn-sm btn-success btn-rounded" onclick="bindingCategoryTypeDetail(this)" data-type="parent" data-categorytype-order="${$value.CategoryTpyeOrder}" data-id="${$value.CategoryTypeId}" data-toggle="modal" href="#add-new-category-type-parent">Edit</a>
                    <a class="btn btn-sm btn-danger btn-rounded" onclick="deleteCategoryType(this)" data-type="parent" data-id="${$value.CategoryTypeId}" href="#">Delete</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</script>
