<script id="authorTemplate" type="text/x-jquery-tmpl">
    <div class="author-title">Tiểu sử tác giả</div>
    <div class="author-content">
        <div class="author-avatar">
            <img style="width: 100%" src="data:image/${MimeTypeImage};base64,${ThumbnailImage}" alt="${AuthorName}">
        </div>
        <div class="author-description">
            <div class="no-margin"></div>
            <a class="author-title" href="#" style="color: #464646;">
                <span style="font-size:14px">Thạc sỹ</span>
                <span>${AuthorName}</span>
            </a>
        </div>
    </div>
    <div class="author-information">
        {{html AuthorDetail}}
    </div>
</script>