<div class="hidden-xs hidden-sm col-sm-6 no-padding">
    <div class="col-xs-12 col-sm-12 pull-right no-margin discussions">
        <div class="row no-margin discussions-header">
            <div class="col-xs-12 col-sm-12 no-padding tab">
                <div class="col-xs-6 col-sm-6 no-padding">
                    <div active="discussion" class="col-xs-10 col-sm-10 col-sm-offset-1 tab-item active">
                        <i class="fa fa-comments"></i>
                        <span>Thảo luận</span>
                    </div>
                </div>
                <!-- .col-xs-6.col-sm-6.no-padding -->
                <!-- .col-xs-10.col-sm-10.col-sm-offset-1.tab-item{active: 'announcement'} -->
                <!-- %i.fa.fa-bullhorn -->
                <!-- %span Thông báo -->
            </div>
            <div class="col-xs-12 col-sm-12 no-padding tab-line">
                <div class="col-xs-6 col-sm-6 no-padding line-discussion active"></div>
                <div class="col-xs-6 col-sm-6 no-padding line-announcement active"></div>
            </div>
        </div>
        <div class="row no-margin discussions-content">
            <div class="col-xs-12 col-sm-12 no-padding discussions-tools">
                <div class="col-xs-10 col-sm-10 col-xs-offset-1 col-sm-offset-1">
                    <div class="col-xs-6 col-sm-6" id="search">
                        <input id="search-input" placeholder="Tìm kiếm thảo luận">
                        <label id="search-submit">
                            <i class="fa fa-search"></i>
                        </label>
                    </div>
                    <div class="col-sm-2 or">
                        <span>hoặc</span>
                    </div>
                    <div class="col-sm-4">
                        <div class="dropdown">
                            <div aria-expanded="true" aria-haspopup="true" class="dropdown-toggle new-discussion" data-toggle="dropdown" id="loading-button" type="button">
                                Đăng thảo luận
                            </div>
                            <ul aria-labelledby="dropdown_discussion" class="dropdown-menu new-discussion-content">
                                <li class="add-title">
                                    <i class="fa fa-times pull-right close-new-discussion fa-2"></i>
                                </li>
                                <li>
                                    <input class="form-control title" placeholder="Nhập tiêu đề" style="height: 35px; margin-bottom: 10px;">
                                </li>
                                <li>
                                    <textarea class="reply-content form-control content" placeholder="Nhập nội dung thảo luận" style="height: 80px; margin-bottom: 20px;"></textarea>
                                </li>
                                <li>
                                    <div class="submit">
                                        <span>Đăng thảo luận</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row no-margin">
                        <label class="discussion-noti"></label>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 no-padding discussions-list">


                <div class="576a61f8e7e9dd7c49003a0b discussion-parent no-margin row" style="display: none">
                    <div class="left">
                        <img class="discussion-avatar" src="./Nói thoả thích 8 tiếng mỗi ngày mà không lo mất giọng_files/discussion-avatar-5b6a4291f20fa4fa743b500d2832d2a91934ad9a9d34a36a5e0e2b54817d8124.png" alt="Discussion avatar 5b6a4291f20fa4fa743b500d2832d2a91934ad9a9d34a36a5e0e2b54817d8124">
                    </div>
                    <div class="right">
                        <div class="col-xs-12 col-sm-12 no-padding">
                            <label class="name">ĐĂNG QUYẾN</label>
                            <label class="lecture_index" style="font-weight: normal"> đăng thảo luận tại </label>
                            <a href="https://edumall.vn/courses/noi-thoa-thich-8-tieng-moi-ngay-ma-khong-lo-mat-giong/lecture/9" style="font-weight: bold; text-decoration: underline; color: #167ac6">Bài giảng 10</a>
                            <label class="created_at">- 26 ngày trước</label>
                        </div>
                        <div class="col-xs-12 col-sm-12 no-padding">
                            <label class="title">bài tập lấy hơi</label>
                            <div class="content">
                                dạ em chào thầy ạ ! thầy ơi cho e hỏi xao lúc e hít vào mà ngực nó vẫn căng lên và vai cũng nhô lên,em đã cố khắc phục nhiều rồi mà vẫn k được ạ,em cảm ơn thầy nhiều ạ
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 no-padding">
                            <label class="reply" discussion-id="576a61f8e7e9dd7c49003a0b"> Phản hồi </label>
                            <div class="row no-margin discussion-parent-options" id="576a61f8e7e9dd7c49003a0b">
                                <div class="row no-margin discussion-child-list">
                                </div>
                                <div class="row no-margin discussion-reply">
                                    <label class="reply-noti"></label>
                                    <textarea class="576a61f8e7e9dd7c49003a0b reply-content" id="reply-content-editor" placeholder="Phản hồi của bạn" row="5"></textarea>
                                    <span class="btn pull-right submit-reply" discussion-id="576a61f8e7e9dd7c49003a0b">Gửi phản hồi</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row no-margin load-more-discussions" current-index="1">
                    <label>Xem thêm các thảo luận khác</label>
                </div>
            </div>

        </div>
        <div class="row no-margin announcements-content" style="display: none"></div>
    </div>
</div>
