<ul class="also-viewed">
    <li class="also-viewed-item">
        <div class="row">
            <div class="col-md-6 course-image">
                <a href="https://edumall.vn/courses/lam-chu-excel-trong-4-gio/detail?feat=rec&amp;pos=detail" title="Học Excel 2007 cơ bản">
                    <img alt="Học Excel 2007 cơ bản" class="img-responsive" src="./Làm chủ Excel 2010 trong 4 giờ_files/course_image_abc.jpg">
                </a>
            </div>
            <div class="col-md-6 course-description">
                <div>
                    <a href="https://edumall.vn/courses/lam-chu-excel-trong-4-gio/detail?feat=rec&amp;pos=detail" title="Học Excel 2007 cơ bản">Học Excel 2007 cơ bản</a>
                </div>
                <div class="price">599.000 đ</div>
                <div class="row no-margin course-rating">
                    <div class="rating-container">
                        <div class="pull-left" id="percent-rating">
                            <i class="fa fa-star rated"></i>
                            <i class="fa fa-star rated"></i>
                            <i class="fa fa-star rated"></i>
                            <i class="fa fa-star rated"></i>
                            <span class="rating-percent">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star percent" style="width: 79.99999999999999%"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>
