
@{
    ViewBag.Title = "UserPaymentBill";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-wrapper" style="overflow: hidden;">
    <div class="banner">
    </div>
    <div class="row no-margin payment-bill">
        <div class="row no-margin payment-bill-header">
            <div class="container">
                <label class="title">Lịch sử thanh toán</label>
            </div>
        </div>
        <div class="row no-margin payment-bill-container">
            <div class="container">
                <div class="row no-margin payment-info-one">
                    <div class="col-xs-6 col-sm-6 info-left pull-left">
                        <span>Tầng 5, Tòa nhà TOPICA</span>
                        <span>Số 75 Phương Mai, Đống Đa, Hà Nội</span>
                        <span>http://edumall.vn</span>
                    </div>
                    <div class="col-xs-6 col-sm-6 info-right pull-right">
                        <span>Ngày xuất: 20/06/2016</span>
                        <span>
                            Hóa đơn số:
                            <b>57676b56e7e9dd2da80006cd</b>
                        </span>
                    </div>
                </div>
                <div class="row no-margin payment-info-two">
                    <div class="col-xs-6 col-sm-6 info-left pull-left">
                        <span>Thanh toán cho: NGUYEN VAN DUNG THANG</span>
                    </div>
                    <div class="col-xs-6 col-sm-6 info-right pull-right">
                        <span>
                            Coupon Code:
                            <b> </b>
                        </span>
                    </div>
                </div>
                <div class="row no-margin payments-list">
                    <div class="row payment-item-header">
                        <div class="col-xs-4 col-sm-4">
                            <span class="normal-text">Khóa học</span>
                        </div>
                        <div class="col-xs-2 col-sm-2 no-padding">
                            <span class="normal-text">Đơn giá</span>
                        </div>
                        <div class="col-xs-2 col-sm-2 no-padding">
                            <span class="normal-text">Phương thức</span>
                        </div>
                        <div class="col-xs-2 col-sm-2 no-padding">
                            <span class="normal-text">Trạng thái</span>
                        </div>
                        <div class="col-xs-2 col-sm-2 no-padding">
                            <span class="normal-text">Thời gian</span>
                        </div>
                    </div>
                    <div class="row payment-item">
                        <div class="col-xs-4 col-sm-4">
                            <a class="course-name" href="/home/payment/noi-thoa-thich-8-tieng-moi-ngay-ma-khong-lo-mat-giong/payment_bill">Nói thoả thích 8 tiếng mỗi ngày mà không lo mất giọng</a>
                        </div>
                        <div class="col-xs-2 col-sm-2 no-padding">
                            <span class="normal-text">299,000 VNĐ</span>
                        </div>
                        <div class="col-xs-2 col-sm-2 no-padding">
                            <span class="normal-text">COD</span>
                        </div>
                        <div class="col-xs-2 col-sm-2 no-padding">
                            <span class="normal-text">Thành công</span>
                        </div>
                        <div class="col-xs-2 col-sm-2 no-padding">
                            <span class="normal-text">11:01 21/06/2016</span>
                        </div>
                    </div>
                </div>
                <div class="row no-margin edumall-about">
                    <span>
                        Mọi thắc mắc về khóa học này vui lòng liên hệ với chúng tôi qua hòm thư
                        <b>cskh@edumall.vn</b>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
