<div id="add-new-category-group" class="modal fade" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="m-t-none m-b">Thêm nhóm</h3>
                        <form id="category-group-form" class="row" role="form">
                            <div class="form-group col-sm-12">
                                <div class="col-sm-6">
                                    <label>Tên Nhóm</label> <input type="text" placeholder="Tên Nhóm" class="category-group-name form-control">
                                </div>
                                <div class="col-sm-6">
                                    <label>Số thử tự</label> <input type="number" placeholder="Số thử tự" class="category-group-index form-control">
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <a id="save" class="btn btn-sm btn-primary pull-right m-t-n-xs"><strong>Save</strong></a>
                            </div>
                            <input type="hidden" id="category-group-id" value="0" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>