
<script id="menuCoursesTemplate" type="text/x-jquery-tmpl">
    <li class="active slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide00">
        <a data-slug="hot_courses" href="https://edumall.vn/#" tabindex="0">
            Khóa học hot nhất
            <span class="active_line"></span>
        </a>
    </li>
</script>