<script id="lectureContainerTemplate" type="text/x-jquery-tmpl">
    <div class="row chap-title">Phần ${LectureGroupIndex}: ${LectureGroupName.toUpperCase()}</div>
    {{each Lectures}}
    <div class="row chap-item">
        <a href="${$value.LectureUrl}">
            <div class="row item-container">
                <div class="chap-item-status">
                    <div class="status-container learning">
                        <i class="material-icons">watch_later</i>
                    </div>
                </div>
                <div class="chap-item-content">
                    <div class="row no-margin">
                        Bài giảng ${$value.LectureNumberIndex}: ${$value.LectureName}
                    </div>
                    <div class="row no-margin">
                        <div class="row type-document">
                            <ul class="no-padding">
                                <li>
                                    <i class="fa fa-play-circle"></i>
                                </li>
                                <li>
                                    <span>${$value.LectureTime}</span>
                                </li>
                                <li>
                                    <i class="fa fa-comments"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    {{/each}}
</script>